<!DOCTYPE html>
<meta charset="utf-8">
<script src="https://unpkg.com/vue"></script>
<title>plasmidraw</title>

<header>
<h1>plasmidraw</h1>
<p>plasmid diagram drawer</p>
</header>

<div id='plasmid'>
    <svg width='500px' height='500px' viewBox='-2 -2 4 4'>
        <gene v-for='(gene, index) in genes' :gene='gene'></gene>
    </svg>

    <br>

    <!--<h3>Edit</h3>-->
    <h3>New</h3>
    <label for='from'>from</label>
    <input id='from' type='number' min='0' max='1' v-model='new_from'></input><br>
    <label for='to'>to</label>
    <input id='to' type='number' min='0' max='1' v-model='new_to'></input><br>
    <button v-on:click='addGene'>Add</button>
</div>

<script>

var plasmid = new Vue({
    el: "#plasmid", 
    data: {
        genes: [],
        id_counter: 0,
        new_from: 0.25,
        new_to: 0.5,
    },
    methods: {
        addGene: function() {
            console.log("Gene added.");
            var from = this.id_counter*0.05;
            var to = from + 0.03;
            this.genes.push({id: this.id_counter, from: this.new_from, to: this.new_to});
            this.id_counter++;
        }
    }, 
    components: {
        'gene': {
            template: '<path :d="d" fill="none" stroke="black" stroke-width="0.1" :id="gene.id" />', 
            props: ['gene'], 
            computed: {
                d: function() {
                    var r = 1.0;
                    var sx =  r*Math.sin(this.gene.from*2*Math.PI);
                    var sy = -r*Math.cos(this.gene.from*2*Math.PI);
                    var tx =  r*Math.sin(this.gene.to*2*Math.PI);
                    var ty = -r*Math.cos(this.gene.to*2*Math.PI);
                    return `M 0 0 m ${sx} ${sy} A ${r} ${r}, 0 0 1, ${tx} ${ty}`;
                }, 
            }, 
        }
    }
});
</script>

<footer>
<p>powered by Vue.js and SVG</p>
</footer>
