<!DOCTYPE html>
<meta charset="utf-8">
<script src="https://unpkg.com/vue"></script>
<title>plasmidraw</title>


<style>
/*
.gene-item:hover {
    fill: red;
}
*/
</style>


<header>
<h1>plasmidraw</h1>
<p>plasmid diagram drawer</p>
</header>

<div id='plasmid'>
    <button v-on:click='addGene'>Add Gene</button><br>

    <svg width='500px' height='500px' viewBox='-1.5 -1.5 3 3' v-on:mousemove="mouseMove">
        <circle cx='0' cy='0' r='1' stroke='black' fill='none' stroke-width='0.01' />
        <gene-item v-for='gene in genes' :gene='gene' :key='gene.key'></gene>
    </svg>

    <br>

    <!--<h3>Edit</h3>-->
    <!--<label for='from'>from</label>-->
    <!--<input id='from' type='number' min='0' max='1' v-model='gene_edit.from'></input><br>-->
    <!--<label for='to'>to</label>-->
    <!--<input id='to' type='number' min='0' max='1' v-model='gene_edit.to'></input><br>-->
</div>

<footer>
<p>powered by Vue.js and SVG.</p>
</footer>


<script>

Vue.component('gene-item', { // {{{
    template: '<g v-on:mouseenter="mouseEnter" v-on:mouseleave="mouseLeave">'+
                '<path v-if="gene.visible" :d="d" :fill="gene.color" stroke="black "stroke-width="0.01" stroke-location="inside"   class="gene-item"/>'+
                '<circle v-if="gene.visible && gene.hover" fill="white" stroke="black" stroke-width="0.01" :cx="sx" :cy="sy" r="0.03" v-on:mousedown="mouseDown" v-on:mousemove="mouseMove" v-on:mouseup="mouseUp"/>'+
                '<circle v-if="gene.visible && gene.hover" fill="white" stroke="black" stroke-width="0.01" :cx="tx" :cy="ty" r="0.03"/>'+
              '</g>', 
    props: ['gene'], 
    methods: {
        mouseEnter: function() {
            //this.color = 'red';
            this.gene.hover = true;
        },
        mouseLeave: function() {
            //this.color = '#DDDDDD';
            this.gene.hover = false;
        },
        mouseDown: function(event) {
            console.log(event);
        }, 
        mouseMove: function(event) {
            console.log(event);
        },
        mouseUp: function(event) {
            console.log(event);
        }, 
    }, 
    computed: {
        sx: function() {
           return  this.gene.r*Math.sin(this.gene.from*2*Math.PI);
        },
        sy: function() {
           return -this.gene.r*Math.cos(this.gene.from*2*Math.PI);
        },
        tx: function() {
           return  this.gene.r*Math.sin(this.gene.to*2*Math.PI);
        },
        ty: function() {
           return -this.gene.r*Math.cos(this.gene.to*2*Math.PI);
        },
        d: function() {
            var r = this.gene.r;
            var from = this.gene.from;
            var to = this.gene.to;
            var sx =  r*Math.sin(from*2*Math.PI);
            var sy = -r*Math.cos(from*2*Math.PI);
            var tx =  r*Math.sin(to*2*Math.PI);
            var ty = -r*Math.cos(to*2*Math.PI);
            var a = from <= to ? 1 : 0;
            var b = Math.abs(from-to) >= 0.5 ? 1 : 0;

            var dr = 0.05;

            var res = '';
            res += `m ${sx*(1+dr)} ${sy*(1+dr)}`;
            res += `A ${r*(1+dr)} ${r*(1+dr)} 0 ${b} ${a} ${tx*(1+dr)} ${ty*(1+dr)}`;
            res += `L ${tx*(1-dr)} ${ty*(1-dr)}`;
            res += `A ${r*(1-dr)} ${r*(1-dr)} 0 ${b} ${1-a} ${sx*(1-dr)} ${sy*(1-dr)}`;
            res += `L ${sx*(1+dr)} ${sy*(1+dr)}`;
            return res;
        }, 
    }, 
}); // }}}

var plasmid = new Vue({
    el: "#plasmid", 
    data: {
        genes: [],
        mouse_pos: 0,
    },
    methods: {
        addGene: function() {
            var new_gene = {
                key: this.genes.length, 
                r: 1.0, 
                from: 0,
                to: 0.1,
                visible: true, 
                color: "#DDDDDD",
                hover: false, 
                drag: false,
            }
            this.genes.push(new_gene);
        },
        mouseMove: function(event) {
        },
    }, 
});
</script>
