<!DOCTYPE html>
<meta charset="utf-8">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<!--<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
<title>plasmidraw</title>


<style>
svg {
    user-select:none;
    -webkit-user-select:none;
    -ms-user-select: none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-drag:none;
    -khtml-user-drag:none;
}

.knob {
    fill: #FFFFFF00;
    stroke: black;
    stroke-width: 0.01;
}
</style>


<header>
<h1>plasmidraw</h1>
<p>Simple SVG drawer for plasmid map diagram.
<a href='https://github.com/monman53/plasmidraw'>GitHub</a></p>
</header>

<div id='plasmid'>

    <div style='float: left'>
        <svg width='600px' height='600px' viewBox='-1.5 -1.5 3 3' id='plasmid-svg'
            @mousemove='mouseMove'
            @mouseup='mouseUp'>
            <circle cx='0' cy='0' r='1' stroke='black' fill='none' stroke-width='0.01' />
            <gene-item
                v-for='gene in genes'
                :mouse_pos='mouse_pos'
                :gene='gene'
                :key='gene.key'
                :g_style='g_style'
                @edit-gene='editGene'>
            </gene-item>
        </svg>
    </div>

    <div>
        <button v-on:click='addGene'>Add Gene</button><br>
        width<input type='range' min='0' max='0.5' step='0.01' v-model='g_style.dr' /><br>
        arrow length<input type='range' min='0' max='0.1' step='0.002' v-model='g_style.darrow' /><br>
        arrow width<input type='range' min='0' max='2' step='0.1' v-model='g_style.warrow' /><br>
        stroke<input type='checkbox' v-model='g_style.f_stroke' /><br>
        <button v-on:click='download'>SVG Download</button><br>

        <div v-if='this.gene != undefined'>
            <h3>Edit</h3>
            color<input type='color' v-model='gene.color' /><br>
            arrow<input type='checkbox' v-model='gene.f_arrow' /><br>
            style<br>
            <input type='radio' :value='0' v-model='gene.style_id'>default<br>
            <input type='radio' :value='undefined' v-model='gene.style_id'>custom<br>
            <div v-if='this.gene.style_id == undefined'>
                width<input type='range' min='0' max='0.5' step='0.01' v-model='gene.style.dr' /><br>
                arrow length<input type='range' min='0' max='0.1' step='0.002' v-model='gene.style.darrow' /><br>
                arrow width<input type='range' min='0' max='2' step='0.1' v-model='gene.style.warrow' /><br>
                stroke<input type='checkbox' v-model='gene.style.f_stroke' /><br>
            </div>
            <button v-on:click='reverseGene'>Reverse</button><br>
            <button v-on:click='copyGene'>Copy</button><br>
            <button v-on:click='deleteGene'>Delete</button><br>
        </div>
    </div>
</div>

<footer style='clear: both'>
<p>powered by Vue.js and SVG.</p>
</footer>


<script>

Vue.component('gene-item', { 
    template: `<g v-on:mouseenter="f_hover=true" v-on:mouseleave="f_hover=false">
                <path 
                    v-if="gene.f_visible"
                    @mousedown="mouseDown('all')"
                    :d="d"
                    :fill="gene.color"
                    stroke="black"
                    :stroke-width="stroke_width"
                    class="gene-item"
                />
                <circle
                    v-if="f_knob_visible"
                    :cx="sx"
                    :cy="sy"
                    r="0.04"
                    @mousedown="mouseDown('from')"
                    class="knob"
                />
                <circle
                    v-if="f_knob_visible"
                    :cx="tx"
                    :cy="ty"
                    r="0.04"
                    @mousedown="mouseDown('to')"
                    class="knob"
                />
              </g>`,
    props: ['gene', 'g_style', 'mouse_pos'], 
    data: function() {
        return {
            f_hover: false,
        };
    },
    created: function() {
    },
    methods: {
        mouseDown: function(which) {
            this.gene.offset = this.mouse_pos;
            this.$emit('edit-gene', this.gene.key, which);
        }, 
    }, 
    computed: {
        style: function() {
            if(this.gene.style_id == undefined){
                return this.gene.style;
            }else{
                return this.g_style;
            }
        }, 
        stroke_width: function() {
            return this.style.f_stroke ? 0.01 : 0;
        },
        f_knob_visible: function() {
            return this.gene.f_visible && this.f_hover;
        },
        sx: function() {
            return  this.gene.r*Math.sin(this.gene.from*2*Math.PI);
        },
        sy: function() {
            return -this.gene.r*Math.cos(this.gene.from*2*Math.PI);
        },
        tx: function() {
            return  this.gene.r*Math.sin(this.gene.to*2*Math.PI);
        },
        ty: function() {
            return -this.gene.r*Math.cos(this.gene.to*2*Math.PI);
        },
        d: function() {
            var r    = this.gene.r;
            var from = this.gene.from;
            var to   = this.gene.to;

            var darrow = Math.min(Math.abs(from-to), this.style.darrow);

            var dr = Math.min(this.style.dr, 1);
            var wr = Math.min(this.style.warrow, 2);

            var sx = this.sx;
            var sy = this.sy;
            var mx = this.mx;
            var my = this.my;
            var mx =  r*Math.sin((to+(to > from ? -darrow : darrow))*2*Math.PI);
            var my = -r*Math.cos((to+(to > from ? -darrow : darrow))*2*Math.PI);
            var tx = this.tx;
            var ty = this.ty;

            var a = from <= to ? 1 : 0;
            var b = Math.abs(from-to) >= 0.5+darrow ? 1 : 0;

            var res;
            if(this.gene.f_arrow){
                res = 
                    `m ${sx*(1+dr)} ${sy*(1+dr)}
                     A ${r*(1+dr)} ${r*(1+dr)}, 0 ${b} ${a}, ${mx*(1+dr)} ${my*(1+dr)}
                     L ${mx*(1+dr+dr*wr)} ${my*(1+dr+dr*wr)}
                     L ${tx} ${ty}
                     L ${mx*(1-dr-dr*wr)} ${my*(1-dr-dr*wr)}
                     L ${mx*(1-dr)} ${my*(1-dr)}
                     A ${r*(1-dr)} ${r*(1-dr)}, 0 ${b} ${1-a}, ${sx*(1-dr)} ${sy*(1-dr)}
                     L ${sx*(1+dr)} ${sy*(1+dr)}`;
            }else{
                res =
                    `m ${sx*(1+dr)} ${sy*(1+dr)}
                     A ${r*(1+dr)} ${r*(1+dr)}, 0 ${b} ${a}, ${tx*(1+dr)} ${ty*(1+dr)}
                     L ${tx*(1-dr)} ${ty*(1-dr)}
                     A ${r*(1-dr)} ${r*(1-dr)}, 0 ${b} ${1-a}, ${sx*(1-dr)} ${sy*(1-dr)}
                     L ${sx*(1+dr)} ${sy*(1+dr)}`;
            }
            return res;
        },
    },
});

var plasmid = new Vue({
    el: "#plasmid", 
    data: {
        genes: [],
        key_counter: 0,
        g_style: {
            r: 1.0,
            dr: 0.08,
            darrow: 0.01,
            warrow: 0,
            f_stroke: true,
        },
        gene: undefined,
        mouse_pos: 0,
        which: undefined,
        offset: 0,
    },
    methods: {
        addGene: function() {
            var new_gene = {
                key: this.key_counter, 
                r: 1.0, 
                from: 0,
                to: 0.1,
                color: "#FFAA00",
                f_arrow: true,
                f_visible: true, 
                style_id: 0,
                style: {},
            }
            Object.assign(new_gene.style, this.g_style);

            this.genes.push(new_gene);
            //this.gene = this.genes[this.key_counter];
            this.gene = this.genes[this.genes.length-1];
            this.key_counter++;
        },
        copyGene: function() {
            var copy_gene = Object.assign({}, this.gene);
            copy_gene.key = this.key_counter;
            this.key_counter++;
            var min = Math.min(copy_gene.from, copy_gene.to);
            copy_gene.from -= min;
            copy_gene.to   -= min;
            this.genes.push(copy_gene);
            this.gene = this.genes[this.genes.length-1];
        },
        reverseGene: function() {
            var tmp = this.gene.from;
            this.gene.from = this.gene.to;
            this.gene.to   = tmp;
        },
        deleteGene: function() {
            this.gene.visible = false;
            for(var i=0;i<this.genes.length;i++){
                if(this.genes[i].key == this.gene.key){
                    this.genes.splice(i, 1);
                    this.gene = undefined;
                    break;
                }
            }
        },
        editGene: function(key, which) {
            for(var i=0;i<this.genes.length;i++){
                if(this.genes[i].key == key){
                    this.gene = this.genes[i];
                    break;
                }
            }
            this.which = which;
            this.offset = this.mouse_pos;
            this.drag = true;
        },
        mouseMove: function(event) {
            var svg = document.getElementById('plasmid-svg');
            var rect = svg.getBoundingClientRect();
            var x = event.clientX - rect.left - rect.width/2;
            var y = event.clientY - rect.top  - rect.height/2;
            var pos = (Math.atan2(-x, y) + Math.PI)/(2*Math.PI);
            this.mouse_pos = pos;

            if(!this.drag){
                return;
            }

            var which = this.which;
            var offset = this.offset;
            if(which == 'all'){
                this.gene.from = Math.min(Math.max(this.gene.from + pos-offset, 0), 1);
                this.gene.to   = Math.min(Math.max(this.gene.to   + pos-offset, 0), 1);
                this.offset = pos;
            }else{
                this.gene[which] = this.mouse_pos;
            }
        },
        mouseUp: function() {
            this.drag = false;
        },
        download: function() {
            var svgData = document.getElementById("plasmid-svg").outerHTML;
            var svgBlob = new Blob([svgData], {type:"image/svg+xml;charset=utf-8"});
            var svgUrl = URL.createObjectURL(svgBlob);
            var downloadLink = document.createElement("a");
            downloadLink.href = svgUrl;
            downloadLink.download = "plasmid.svg";
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
        },
    }, 
});
</script>
